<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Audio Server</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='stylesheets/style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/index.js') }}"></script>
</head>
<body>
<br><br><br><br>
<div class="container well">
    <h2 class="text-center">
        <b>Sound Controller</b>
    </h2>
    <div class="row">
        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-primary" id="i_vol_up">
                <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-primary" id="i_vol_down">
                <span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-primary" id="i_play_pause">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span><b>/</b><span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary" id="i_reverse">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary" id="i_forward">
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary" id="i_previous_track">
                <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary" id="i_next_track">
                <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <br>
</div>
<div class="container well">
    <h3 class="text-center">
        <b>For Playing Previous/Next Song on YouTube Only...</b>
    </h3>
    <div class="row">
        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary" id="i_youtube_previous_track">
                <b>Previous Track</b>
            </button>
        </div>
        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary" id="i_youtube_next_track">
                <b>Next Track</b>
            </button>
        </div>
        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary" id="i_youtube_playback_speed_plus">
                <b>Playback Speed +</b>
            </button>
        </div>
        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-primary" id="i_youtube_playback_speed_minus">
                <b>Playback Speed -</b>
            </button>
        </div>
    </div>
</div>
</body>
</html>